/* Common */
html 
{
    margin: 1%;
    font-family: 'Lato';font-size: auto;
}
/*Keep alert ontop of navbar*/
.alert{
    position: sticky;
    z-index: 99;
    width: 100%;
}
.navbar {
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
}
/* Most Heading Tags in Content / Container */
.title{
    margin-top: 1%;
    margin-bottom: 2%;
}
.error 
{
    color: red;
}
/* Items page */
.container
{
    background-color: rgb(240, 240, 240);
    border : 1px solid rgb(220, 220, 220);
    border-radius: 15px;
    max-width: 1920px;
    width: 80%;
    padding: 1%;
}
/* individual item row */
.itemrow
{   
    margin: 3%;
    padding: 1%;
    border : 1px solid rgb(220, 220, 220);
    background-color: rgb(255,255,255);
    border-radius: 15px;
    flex-wrap: row wrap;
}
.itemrow:hover
{
    background-color:  rgb(220, 220, 220);
}
/* column / property of each item row */
.rowcol
{
    word-wrap: normal;
    display : flex;
    margin: auto;
}
/* button grouping within item row */
#buttondiv
{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}
/* all buttons */
.btn
{
    border-radius: 10px;
    margin: 1%;
}
.btn-secondary
{
    background-color: rgb(190, 190, 190);
}
.btn-primary
{
    background-color: rgb(100, 130, 255);
}
.btn-danger
{
    margin-left: 5%;
    background-color: rgb(255, 130, 130);
}

/* Forms */
form{
    
    padding-bottom: 1%;
}
/* input */
.form-control
{
    border: 1px solid rgb(220, 220, 220);
    padding: 2%;
}
/* input div */
.form-group {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
/* Wrapper for forms and OneItem */
.content
{
    background-color: rgb(240, 240, 240);
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 65%;
}
/* OneItem container */
#item
{
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 2%;
}

/* OneItem display */
.list-group-item
{
    text-align: left;
    word-wrap: break-word;
    padding: 1%;
    margin: 1%;
}

/* Modal */
.modal-dialog {
    
    min-width: 40%;
    margin: 50px auto;
}
.modal-content
{
    background-color: rgb(240, 240, 240);
}

